body {
    background-color: #9aa4bf;
}

.error-text {
    font-family: 'ow';
    letter-spacing: 1px;
    color: red;
    font-size: small;
}

.info-text {
    font-family: 'ow';
    letter-spacing: 2px;
    color: white;
}

.username-box {
    background-color: #d5d4dd;
    font-family: 'ow';
    text-align: center;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    color: white;
}

.username-label {
    font-family: 'ow';
    letter-spacing: 2px;
    color: white;
    background-color: #505d6e;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ow-button {
    background-color: white;
    width: 15rem;
    
    font-family: 'ow';
    color: #43484c;
    letter-spacing: 2px;
    border: none;
    border-radius: 2px;

    transition: transform 0.05s ease;
}

.ow-button:hover {
    transform: scale(1.1);
}

.ow-button:active {
    transform: scale(0.9);
}

.ow-navbar {
    background-color: #20243c;
    color: white;
    padding: 0.2em;
}

.ow-navbar-item {
    font-family: 'ow';
    letter-spacing: 1px;
    color: white;
    transition: transform 0s linear;
}


.ow-navbar-item:hover {
    box-shadow: 0 0 0 1px #20ecec;
    /* border: 1px solid #20ecec; */
    border-radius: 1px;
    background-color: #205c64;
    color: white;
}

.ow-navbar-item:visited {
    color: white;
}

@font-face {
    font-family: 'ow';
    src: url('/static/registration/fonts/BigNoodleTooKorean.ttf') format('truetype')
}