body {
    background-color: #9aa4bf;
}

.error-text {
    font-family: 'ow';
    letter-spacing: 1px;
    color: red;
    font-size: xx-large;
}

.info-text {
    font-family: 'ow';
    letter-spacing: 2px;
    font-size: xx-large;
    color: white;
}

.username-box {
    background-color: #d5d4dd;
    font-family: 'ow';
    font-size: xx-large;
    text-align: center;
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    letter-spacing: 2px;
    color: white;
}

.username-label {
    font-family: 'ow';
    font-size: xx-large;
    letter-spacing: 2px;
    color: white;
    background-color: #505d6e;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ow-button {
    background-color: white;
    width: 30rem;
    
    font-family: 'ow';
    font-size: xx-large;
    color: #20243c;
    letter-spacing: 2px;
    border: none;
    border-radius: 2px;

    transition: transform 0.05s ease;
}

.ow-button:hover {
    transform: scale(1.1);
}

.ow-button:active {
    transform: scale(0.9);
}

.ow-navbar {
    background-color: #20243c;
    color: white;
    padding: 0.2em;
}

.ow-navbar-item {
    font-family: 'ow';
    letter-spacing: 1px;
    font-size: xx-large;
    color: white;
    transition: transform 0s linear;
}


.ow-navbar-item:hover {
    box-shadow: 0 0 0 1px #20ecec;
    border-radius: 1px;
    background-color: #205c64;
    color: white;
}

.ow-navbar-item:visited {
    color: white;
}

/* rank_tracker.html styles */
.ow-rank-header {
    font-family: 'ow';
    font-size: xx-large;
    font-style: oblique;
    color: white;
    background-color: #20243c;
    border-radius: 2px;
    margin: 5px 5px 0px 0px;
}

.ow-rank-display {
    font-style: normal;
    background-color: #323e5e;
    letter-spacing: 1px;
    border-radius: 2px;
}

/* Map Picker styles */
.btn.dropdown-toggle.ow-gamemode-picker {
    background-color: white;
    font-family: 'ow';
    font-size: xx-large;
    width: 35rem;
    
    text-align: start;

    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border: none;
    border-radius: 1px;
    letter-spacing: 1px;
    color: #20243c;
}

.dropdown-item.ow {
    border-radius: 2px;
    transform: scaleX(0.98);

    font-family: 'ow';
    font-size: xx-large;
    letter-spacing: 1px;
    text-align: start;
    
    border: none;
    color: #20243c;
}

.dropdown-item.ow:hover {
    background-color: #d0cccc;
}

.dropdown-menu.ow {
    border-radius: 1px;

    width: 35rem;
}

.dropdown-item.ow.selected {
    background-color: #20243c;
    color: white;
    transition: all 0.1s ease;
}

.dropdown-item.ow.selected:hover {
    border: -2px solid #20ecec;
    border-radius: -2px;
    background-color: #205c64;
}

@media (min-width: 768px) {
    .mx-lg-12 {
      margin-left: 12rem;
      margin-right: 12rem;
    }
}

@font-face {
    font-family: 'ow';
    src: url('/static/registration/fonts/BigNoodleTooKorean.ttf') format('truetype')
}